<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8">
    <title>Compose Email</title>
</head>
<body>
    <div align="center">
        <h1>Compose Email</h1>
        <br>
        <form id="game-form"
              action="compose_email"
              method="post">
            <label for="fromEmail">From : </label>
            <input id="fromEmail" type="email" name="fromEmail" th:value="${fromEmail}" size="30" disabled="disabled"/>
            <br><br>
            <label for="toEmail">To : </label>
            <input id="toEmail" type="email" name="toEmail" size="30"/>
            <br><br>
            <label for="subject">Subject : </label>
            <input id="subject" type="text" name="subject" size="30"/>
            <br><br>
            <label for="emailBody">Email body : </label>
            <textarea id="emailBody" name="emailBody" rows="10" cols="30"></textarea>
            <br><br>
            <input type="submit" value="Send" onclick="setTimeout(myFunction, 3000);"/>
        </form>

        <br><br>
        <button onclick="window.location='uploadFiles'">Attachments</button>
        <br>
<!--        <span th:if="${sizeOfUploadedAttachments != 0}" th:text="${sizeOfUploadedAttachments != 1} ? '('+${sizeOfUploadedAttachments}+' attachments uploaded)' : '('+${sizeOfUploadedAttachments}+' attachment uploaded)'"></span>-->
        <span th:text="'(Total files attached : '+${sizeOfUploadedAttachments}+')'"></span>

        <footer id="footerId">
            <p>Created by Harshal Sakhale</p>
        </footer>

    </div>

    <script>
        function myFunction() {
          alert('Email sent successfully !');
        }
    </script>
</body>
</html>