<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title>Compose Email</title>
</head>
<body>
    <div align="center">
        <h1>Compose Email</h1>
        <h3 id="main-message">
            Main Message Content
        </h3>
        <h3 id="result-message">
            Result Message Content
        </h3>

        <form id="game-form"
              action="compose_email"
              method="post">
            <label for="toEmail">Enter to email id : </label>
            <input id="toEmail" type="email" name="toEmail"/>
            <br><br>
            <label for="subject">Enter subject : </label>
            <input id="subject" type="text" name="subject"/>
            <br><br>
            <label for="emailBody">Enter subject : </label>
            <textarea id="emailBody" name="emailBody" rows="10" cols="30"></textarea>
            <br><br>
            <input type="submit" value="Submit"/>
        </form>

        <footer id="footerId">
            <p>Created by goes here</p>
        </footer>

    </div>
</body>
</html>